.boardPlayerCell {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14pt;
    font-weight: bold;
}
.draftBoardHolder {
    position: absolute;
    top: 200px;
    bottom: 70px;
    left: 0;
    right: 0;
}
.draftBoardTable {
    table-layout: fixed;
}
.draftBoardTable th {
    font-size: 12pt;
}
.tickerBox {
    position: absolute;
    height: 50px;
    width: 100%;
    display: block;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    color: #DDDDDD;
}
.ticker {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}
.tickerElement {
    margin-right: 30px;
    font-weight: bold;
    font-size: 24pt;
    white-space: nowrap;
}
.timerHolder {
    font-weight: bold;
    font-size: 28pt;
}
.timer {
    cursor: pointer;
    display: inline-block;
}
.draftInfo {
    text-align: center;
}
.draftTeamHeader {
    font-weight: bold;
    font-size: 20pt;
}
.draftTeamName {
    font-size: 20pt;
    padding-right: 40px;
}
.draftTeamInfo {
    padding-top: 20px;
}
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}