.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.sortableHeader {
    display: block;
    cursor: pointer;
}
.sorted {
    background-color: #EEEEEE;
}
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}
select {
    border-radius: 4px;
    margin-top: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 34px;
}
.filters {
    background: linear-gradient(to bottom, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid slategrey;
    overflow: hidden;
}
.tableHolder {
    width: 95%;
    margin: auto;
    border: 2px outset slategray;
    border-radius: 10px;
    overflow: auto;
}
.table {
    margin-bottom: 0;
}
.playersColumn {
    height: 100%;
    border-right: 1px solid #DDDDDD;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
}
.filterSelect {
    float: left;
    padding-left: 10px;
}
.teamList {
    padding-left: 0;
    padding-right: 0;
}
.teamFilterSelect {
    margin: auto;
}
.tagBox {
    cursor: pointer;
}
.teamPlayer {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DDDDDD;
}
.teamPlayer:hover {
    background-color: #EEEEEE;
}
.playerPosition {
    padding-left: 15px;
    font-weight: bold;
}
.playerName {
    padding-right: 15px;
    float: right;
}