.filters {
    background: linear-gradient(to bottom, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid slategrey;
    overflow: hidden;
}
.playersColumn {
    height: 100%;
    border-right: 1px solid #DDDDDD;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
}
.teamList {
    height: 100%;
    border-collapse: collapse;
    display: table;
    padding-left: 0;
    padding-right: 0;
    background-color: #FFFFFF;
}
.teamFilterSelect {
    margin: auto;
}
.tagBox {
    cursor: pointer;
}
.teamPlayer {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DDDDDD;
}
.teamPlayer:hover {
    background-color: #EEEEEE;
}
.playerPosition {
    padding-left: 15px;
    font-weight: bold;
}
.playerName {
    float: right;
    padding-right: 15px;
}
.byeWeek {
    text-align: right;
    float: right;
    width: 31px;
    padding-right: 15px;
}
.teamListCounts {
    border-top: 1px solid #DDDDDD;
}
.playerCount {
    padding-right: 20px;
}
.statsHolder {
    overflow: hidden;
    border-radius: 5px;
}
.searchBox {
    float: right;
    padding-right: 10px;
}
.toggleSidebar {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.closeSidebar {
    position: absolute;
    left: 2px;
    top: 2px;
    display: none;
}
@media screen and (max-width: 991px) {
    .toggleSidebar {
        display: block;
    }
    .offCanvas {
        position: absolute;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        right: -100%;
        display: none;
        top: 0;
        z-index: 1000;
    }
    .activeSidebar {
        right: 0;
        top: 0;
        display: block;
    }
    .activeSidebar .closeSidebar {
        display: block;
    }
}