title Simple Player Analysis &amp; Draft Engine

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

script(src='/webjars/angular/1.5.8/angular.min.js')
script(src='/webjars/angular-cookies/1.5.8/angular-cookies.min.js')
script(src='/webjars/angular-ui-bootstrap-bower/2.0.2/ui-bootstrap-tpls.min.js')

link(rel='stylesheet', href='/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/webjars/font-awesome/4.6.3/css/font-awesome.min.css')

link(rel='stylesheet', href='/css/base.css')

script(src='/js/App.js')