doctype html
html
    head
        include commonHeader
        script(src='/js/service/draftService.js')
        script(src='/js/controller/draftController.js')
        link(rel='stylesheet', href='/css/draft.css')

    body(ng-app='SpadeApp', ng-controller='DraftController as ctrl')
        .loadingIndicator.absoluteCenterAll(ng-show='loading')
            span.loadingIndicatorHelper
            i.fa.fa-spin.fa-spinner
        .col-xs-12.col-sm-12.col-md-9.col-lg-9.playersColumn
            .tableHolder
                .filters
                    .searchBox
                        input.form-control(type='text', ng-model='ctrl.search.name', placeholder='Search Name')
                    .filterSelect
                        label
                            | Position: 
                            select(ng-model='ctrl.search.position')
                                option(value='') All
                                option(ng-repeat='position in ctrl.positions', value='{{ position.id }}') {{ position.abbr }}
                    .filterSelect
                        label
                            | NFL Team: 
                            select(ng-model='ctrl.search.nfl_team')
                                option(value='') All
                                option(ng-repeat='team in ctrl.nflTeams', value='{{ team.id }}') {{ team.city + ' ' + team.nickName }}
                    .filterSelect
                        label
                            | Availability: 
                            select(ng-model='ctrl.search.available')
                                option(value='') All
                                option(value='true') Only Available
                                option(value='false') Only Unavailable
                    .filterSelect
                        label
                            | Tagged: 
                            select(ng-model='ctrl.search.tagged')
                                option(value='') All
                                option(value='true') Tagged
                                option(value='false') Untagged
                table.table.table-hover
                    thead
                        tr
                            th Tag
                            // Common to all players
                            th(ng-class="{'sorted': predicate == 'name'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'name'; reverse = !reverse")
                                    | Name
                                    span(ng-class="{'caret': predicate == 'name', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'position'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'position'; reverse = !reverse")
                                    | Pos
                                    span(ng-class="{'caret': predicate == 'position', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'nfl_team'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'nfl_team'; reverse = !reverse")
                                    | NFL Team
                                    span(ng-class="{'caret': predicate == 'nfl_team', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'bye_week'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'bye_week'; reverse = !reverse")
                                    | Bye
                                    span(ng-class="{'caret': predicate == 'bye_week', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'games_played'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'games_played'; reverse = !reverse")
                                    | Games
                                    span(ng-class="{'caret': predicate == 'games_played', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'last_season_points'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'last_season_points'; reverse = !reverse")
                                    | 2013 Points
                                    span(ng-class="{'caret': predicate == 'last_season_points', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'league_team'}")
                                .sortableHeader.noSelect(ng-click="predicate = 'league_team'; reverse = !reverse")
                                    | League Team
                                    span(ng-class="{'caret': predicate == 'league_team', 'caret-reversed': reverse}")
                            // QB stats
                            th(ng-class="{'sorted': predicate == 'passing_yards'}", ng-show="search.position == 'QB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'passing_yards'; reverse = !reverse")
                                    | Passing Yards
                                    span(ng-class="{'caret': predicate == 'passing_yards', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'passing_touchdowns'}", ng-show="search.position == 'QB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'passing_touchdowns'; reverse = !reverse")
                                    | Passing touchdowns
                                    span(ng-class="{'caret': predicate == 'passing_touchdowns', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'interceptions'}", ng-show="search.position == 'QB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'interceptions'; reverse = !reverse")
                                    | Interceptions
                                    span(ng-class="{'caret': predicate == 'interceptions', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'completion_percentage'}", ng-show="search.position == 'QB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'completion_percentage'; reverse = !reverse")
                                    | Comp Pct
                                    span(ng-class="{'caret': predicate == 'completion_percentage', 'caret-reversed': reverse}")
                            // RB
                            th(ng-class="{'sorted': predicate == 'rushing_yards'}", ng-show="search.position == 'RB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'rushing_yards'; reverse = !reverse")
                                    | Rushing Yards
                                    span(ng-class="{'caret': predicate == 'rushing_yards', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'rushing_touchdowns'}", ng-show="search.position == 'RB'")
                                .sortableHeader.noSelect(ng-click="predicate = 'rushing_touchdowns'; reverse = !reverse")
                                    | Rushing Touchdowns
                                    span(ng-class="{'caret': predicate == 'rushing_touchdowns', 'caret-reversed': reverse}")
                            // WR/TE
                            th(ng-class="{'sorted': predicate == 'receiving_yards'}", ng-show="search.position == 'WR' || search.position == 'TE'")
                                .sortableHeader.noSelect(ng-click="predicate = 'receiving_yards'; reverse = !reverse")
                                    | Receiving Yards
                                    span(ng-class="{'caret': predicate == 'receiving_yards', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'receiving_touchdowns'}", ng-show="search.position == 'WR' || search.position == 'TE'")
                                .sortableHeader.noSelect(ng-click="predicate = 'receiving_touchdowns'; reverse = !reverse")
                                    | Receiving Touchdowns
                                    span(ng-class="{'caret': predicate == 'receiving_touchdowns', 'caret-reversed': reverse}")
                            // K
                            th(ng-class="{'sorted': predicate == 'fg_percentage'}", ng-show="search.position == 'K'")
                                .sortableHeader.noSelect(ng-click="predicate = 'fg_percentage'; reverse = !reverse")
                                    | FG Percent
                                    span(ng-class="{'caret': predicate == 'fg_percentage', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'longest_fg'}", ng-show="search.position == 'K'")
                                .sortableHeader.noSelect(ng-click="predicate = 'longest_fg'; reverse = !reverse")
                                    | Longest FG
                                    span(ng-class="{'caret': predicate == 'longest_fg', 'caret-reversed': reverse}")
                            // D/ST
                            th(ng-class="{'sorted': predicate == 'def_points_per_game'}", ng-show="search.position == 'D/ST'")
                                .sortableHeader.noSelect(ng-click="predicate = 'def_points_per_game'; reverse = !reverse")
                                    | Points Allowed/Game
                                    span(ng-class="{'caret': predicate == 'def_points_per_game', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'def_interceptions'}", ng-show="search.position == 'D/ST'")
                                .sortableHeader.noSelect(ng-click="predicate = 'def_interceptions'; reverse = !reverse")
                                    | Interceptions
                                    span(ng-class="{'caret': predicate == 'def_interceptions', 'caret-reversed': reverse}")
                            th(ng-class="{'sorted': predicate == 'dst_touchdowns'}", ng-show="search.position == 'D/ST'")
                                .sortableHeader.noSelect(ng-click="predicate = 'dst_touchdowns'; reverse = !reverse")
                                    | Touchdowns
                                    span(ng-class="{'caret': predicate == 'dst_touchdowns', 'caret-reversed': reverse}")
                    tbody
                        tr(ng-repeat='player in ctrl.draft.draftPlayers | orderBy:predicate:reverse | filter:search:strict', ng-class="{'bg-danger': !player.available, 'bg-warning': player.tagged}")
                            td.noSelect(ng-click='player.tagged = player.available ? !player.tagged : false', ng-class="{'tagBox': player.available}")
                                input(type='checkbox', ng-checked='player.tagged', ng-disabled='!player.available')
                            // Common to all players
                            td(ng-class="{'sorted': predicate == 'name'}")
                                span(ng-class='{clickable: authorized}', ng-click='authorized && playerClicked(this)') {{ player.name }}
                            td(ng-class="{'sorted': predicate == 'position'}") {{ player.position }}
                            td(ng-class="{'sorted': predicate == 'nfl_team'}") {{ player.nfl_team }}
                            td(ng-class="{'sorted': predicate == 'bye_week'}") {{ player.bye_week }}
                            td(ng-class="{'sorted': predicate == 'games_played'}") {{ player.games_played }}
                            td(ng-class="{'sorted': predicate == 'last_season_points'}") {{ player.last_season_points }}
                            td(ng-class="{'sorted': predicate == 'league_team'}") {{ player.league_team }}
                            // QB stats
                            td(ng-class="{'sorted': predicate == 'passing_yards'}", ng-show="search.position == 'QB'") {{ player.passing_yards }}
                            td(ng-class="{'sorted': predicate == 'passing_touchdowns'}", ng-show="search.position == 'QB'") {{ player.passing_touchdowns }}
                            td(ng-class="{'sorted': predicate == 'interceptions'}", ng-show="search.position == 'QB'") {{ player.interceptions }}
                            td(ng-class="{'sorted': predicate == 'completion_percentage'}", ng-show="search.position == 'QB'") {{ player.completion_percentage }}
                            // RB
                            td(ng-class="{'sorted': predicate == 'rushing_yards'}", ng-show="search.position == 'RB'") {{ player.rushing_yards }}
                            td(ng-class="{'sorted': predicate == 'rushing_touchdowns'}", ng-show="search.position == 'RB'") {{ player.rushing_touchdowns }}
                            // WR/TE
                            td(ng-class="{'sorted': predicate == 'receiving_yards'}", ng-show="search.position == 'WR' || search.position == 'TE'") {{ player.receiving_yards }}
                            td(ng-class="{'sorted': predicate == 'receiving_touchdowns'}", ng-show="search.position == 'WR' || search.position == 'TE'") {{ player.receiving_touchdowns }}
                            // K
                            td(ng-class="{'sorted': predicate == 'fg_percentage'}", ng-show="search.position == 'K'") {{ player.fg_percentage }}
                            td(ng-class="{'sorted': predicate == 'longest_fg'}", ng-show="search.position == 'K'") {{ player.longest_fg }}
                            // D/ST
                            td(ng-class="{'sorted': predicate == 'def_points_per_game'}", ng-show="search.position == 'D/ST'") {{ player.def_points_per_game }}
                            td(ng-class="{'sorted': predicate == 'def_interceptions'}", ng-show="search.position == 'D/ST'") {{ player.def_interceptions }}
                            td(ng-class="{'sorted': predicate == 'dst_touchdowns'}", ng-show="search.position == 'D/ST'") {{ player.dst_touchdowns }}
        .col-xs-8.col-sm-5.col-md-3.col-lg-3.teamList.offCanvas(ng-class='{activeSidebar: sidebarActive}')
            .filters(align='center')
                button.closeSidebar.btn.btn-default.btn-xs(ng-click='sidebarActive = !sidebarActive') X
                .teamFilterSelect
                    label
                        | Select Team: 
                        select(ng-model='ctrl.selectedLeagueTeam')
                            option(ng-repeat='(short,long) in leagueTeams', value='{{ short}}') {{long }}
            .teamPlayer(ng-repeat='position in leaguePositions')
                span.playerPosition {{ position }}
                span.byeWeek {{ getTeamPosition(selectedLeagueTeam, position).bye_week }}
                span.playerName {{ getTeamPosition(selectedLeagueTeam, position).name }}
            .teamListCounts.fixedFooter
                b TOTALS:&nbsp
                span.playerCount(ng-repeat='position in positions')
                    | {{ position}}: {{getTeamPositionPlayerCount(selectedLeagueTeam, position) }}
        script(type='text/ng-template', id='unassign_player_modal.html').
        script(type='text/ng-template', id='add_player_modal.html').
