<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('index')">
</head>
<body ng-app="SpadeApp" ng-controller="IndexController as ctrl">
<div class="container">
    <div class="jumbotron">
        <div align="center" class="container">
            <h1>Welcome to SPADE!</h1>
            <p>Otherwise known as the <b>S</b>imple <b>P</b>layer <b>A</b>nalysis &amp; <b>D</b>raft <b>E</b>ngine</p>
            <button class="btn btn-primary" ng-click="ctrl.login()" ng-show="!authorized">Login</button>
            <button class="btn btn-primary" ng-click="ctrl.logout()" ng-show="authorized">Logout</button>
        </div>
    </div>
</div>
</body>
</html>