h4.modal-header Create New SPADE Draft
.modal-body
    .alert.alert-danger(ng-if='$ctrl.error') An unknown error occurred while creating draft. Please try again.
    table.table
        tbody
            tr
                td League Name:
                td
                    input.form-control(type='text', ng-model='$ctrl.draft.leagueName', ng-disabled='$ctrl.loading')
            tr
                td Enter Team Names (One per line):
                td
                    textarea.form-control(ng-model='$ctrl.draft.fantasyTeams', rows='10', ng-disabled='$ctrl.loading')
.modal-footer
    button.btn.btn-primary(ng-disabled='$ctrl.loading', ng-click='$ctrl.submit()') Submit
    button.btn.btn-danger(ng-disabled='$ctrl.loading', ng-click='$ctrl.cancel()') Cancel
